<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <p th:text="${msg}"></p>
    <form action="/form" method="post">
        <div class="input-group">
            <input type="text" name="text1" th:value="${value}">
            <span>
                <input type="submit" value="Click">
            </span>
        </div>
    </form>
</body>
</html>